*{
  margin:0;
  padding:0;
box-sizing: border-box;
}

.max-height-100{
  max-height: 100vh;
}

.overflow-auto{
  overflow:auto
}

.bg-blue{
  background-color: blue;
}

.text-white{
  color:white;
}

.my-2{
  margin-block:20px;
}

.pointer{
  cursor:pointer;
}

.p-2{
  padding:20px;
}

.loading{
  background-color: red;
  text-align: center;
}